
@{
    ViewBag.Title = "Ana Sayfa";
}
@section Arama
{
    <li class="menu-item-top">
        <a href="/Home/Arama" class="top">
            <span class="main-menu-text">Arama</span>
        </a>
    </li>
}
@section head{
    
    <li class="menu-item-top" style="float: right">
        <a href="/Home/Giris" class="top">
            <span class="main-menu-icon">
                <span aria-hidden="true" class="icon icon-grid-big icon-size-medium"></span>
            </span>
            <span class="main-menu-text">Giris Yap</span>
        </a>
    </li>

}
<div  style="background-image:url(../../Content/assets/images/required/resim1.png) ; min-height:744px; ">

    

</div>


