
@{
    ViewBag.Title = "Iletisim";
}


<div style="background-image:url(../../Content/assets/images/required/resim2.png) ; min-height:744px; ">


<div class="col-md-6">
    <h1>

        <span class="main-text">
            <span style="font-size: x-large; font-weight:600">İletişim</span>
        </span>
    </h1>
</div>

<div class="col-md-12">
    <div class="block">
        <div class="block-heading">

            <div class="block-content-outer">
                <div class="block-content-inner">
                       
                    <div class="profile-info">
                        <h3 style="font-weight:800">Kütüphane ve Dokümantasyon Daire Başkanlığı</h3>
                        <div class="profile-info-block">
                            <div class="profile-info-title h6">
                                <span class="glyphicon glyphicon-phone-alt"></span>
                                Phone Number
                            </div>
                            <div class="profile-info-body">
                                0322 338 67 24
                            </div>
                        </div>
                        <div class="profile-info-block">
                            <div class="profile-info-title h6">
                                    
                            </div>
                                
                        </div>
                        <div class="profile-info-block">
                            <div class="profile-info-title h6">
                                <span class="glyphicon glyphicon-envelope"></span>
                                Email
                            </div>
                            <div class="profile-info-body">
                                iletisim@kutuphane.cu.edu.tr
                            </div>
                        </div>
                        <div class="profile-info-block">
                            <div class="profile-info-title h6">
                                <span class="glyphicon glyphicon-map-marker"></span>
                                Address
                            </div>
                            <div class="profile-info-body">
                                <address>
                                    01330 – Balcalı – Sarıçam / ADANA
                                </address>
                            </div>
                        </div>
                    </div>
                        
                </div>
                    
            </div>
        </div>
    </div>
    <div>
    </div>
</div>


    

